@import '../../styles/global.scss';

.bg-light {
  background-color: $headerBackgroundColor !important;
  font-family: 'Open Sans', sans-serif;
}
.form-wrap {
  input {
    border: 2px solid $textBlackColor;
    border-radius: 0px;
  }
}
.add-book-wrap {
  position: relative;
  overflow: hidden;
  background-color: $pinkcolor;
  a {
    color: $textWhiteColor !important;
  }
}
