@import '../../../shared/styles/global.scss';

.submit-btn {
  margin: 10px auto;
  display: table;
  button {
    color: $textWhiteColor;
    background-color: $pinkcolor;
    border: 2px solid $pinkcolor;
    padding: 5px;
  }
}

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__triangle {
  left: 115px !important;
}
